/*banner*/

.home .banner-container {
	margin: 0 auto 50px;
}

.home .banner-photo {
	text-align: center;
}

.home .banner-photo img {
	width: 180px;
	height: 180px;
}

.home .banner-desc {
	margin-top: 10px;
	text-align: center;
	color: rgb(255, 255, 255);
}

.home .banner-desc h1 {
	font-size: 30px;
	color: rgb(255, 255, 255);
}

.home .banner-desc p {
	font-size: 18px;
}

.home .banner-link {
	font-size: 18px;
	text-align: center;
}

.home .banner-link div {
	display: inline;
}

.home .banner-link .link:after {
	margin-right: 2px;
	margin-left: 2px;
	content: '/';
}

.home .banner-link a {
	color: rgb(19, 218, 236);
	text-decoration: none;
}

.home .banner-link a:hover {
	color: rgb(113, 233, 244);
}



/*card*/

.home .card-container{
	max-width: 900px;
	padding: 10px 10px;
	margin: 0 auto;
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	/*justify-content: flex-start;*/
}

.home .card {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 15px;
	margin-bottom: 2px;
	background-color: white;
}

.home .card-info {
	display: inline-block;
	flex: auto;
	padding: 15px;
}

.home .card-name {
	height: 50px;
	font-size: 1.8em;
}

.home .card-name a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.home .card-desc {
	height: 30px;
	font-size: 1.3em;
}

.home .card-link {
	height: 30px;
	font-size: 1.3em;
}

.home .card-figure {
	width: 30%;
	min-width: 180px;
	margin-left: auto;
	display: inline-block;
	text-align: center;
}

.home .card-figure img {
	width: 180px;
	display: inline-block;
}